# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
media/
staticfiles/

# VS Code
.vscode/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# PyTorch
*.pth

# Build
build/